.answer {
    display: grid;
    padding: 1em;
}

@media (min-width: 600px) {
    .answer {
        grid-template-columns: 50% auto;
    }
    .answer button p {
        padding: 0;
        margin: 0;
        font-size: 1.25em !important;
    }
}

@media(max-width: 599px) {
    .answer button p {
        font-size: 1em !important;
    }
}

.answer button {
    padding: 1em;
    margin: 1em;
}

.answer button p {
    padding: 0;
    margin: 0;
}

.answer img {
    max-width: 90%;
}

.answer .preview p, .answer p.preview {
    font-size: 12pt;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

.answer .overhead p, .answer p.overhead {
    font-size: 18pt;
    padding: 0.5em;
    margin: 0;
}
