.deck .message {
    font-size: 28pt;
}

.deck {
    padding: 2em;
    text-align: center;
}
.deck:not(.preview) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.deckContainer:not(.preview) {
    position: fixed;
    height: 100%;
}

@media(min-width: 1200px) {
    .deckContainer:not(.preview) {
        width: 70%;
        left: 15%;
    }
}
@media(max-width: 1199px) {
    .answer .preview, .answer .overhead {
        display: none;
    }
    .participationLink {
        display: none;
    }
    .deck button {
        padding: 0.5em;
        margin: 0.1em;
    }
    .deckContainer:not(.preview) {
        width: 100%;
        left: 0;
    }
    .deck hr {
        display: none;
    }
    .deck .question p {
        font-size: 18pt;
    }
    .deck .question .overhead {
        margin-bottom: 0 !important;
    }
}

.deck .question {
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 2em;
}

.deck .question pre code {
    font-size: large;
}

.link {
    margin-top: 3em;
}

.deck.preview button {
    font-size: 0.75em;
    margin: 0.1em;
    margin-top: 1em;
    padding: 0.5em;
}

.deck.preview h2 {
    font-size: 14pt;
}

.participationLink {
    font-size: 16pt;
    color: rgba(0,0,0,0.5);
}

.participationLink a {
    font-size: 16pt;
    font-weight: bold;
    font-family: courier new;
    text-decoration: none;
    color: rgba(0,0,255,0.6);
}

.deck .info {
    font-size: 24pt;
}

.deck .info.preview {
    font-size: 16pt;
}
