.question.overhead, .question.preview {
    padding-bottom: 0 !important;
}

.question div {
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24pt;
}

.question .overhead pre code {
    font-size: 0.75em !important;
}

@media(max-width: 599px) {
    .question pre code {
        font-size: 0.4em !important;
    }
    .question > div {
        padding: 0.35em;
    }
}

.question div.overhead, .question .overhead div {
    font-size: 24pt;
    margin-bottom: 2em;
}

.question div.preview, .question .preview div {
    font-size: 14pt;
    padding: 0;
    margin: 0.5em;
    margin-bottom: 0;
}

.question hr {
    width: 80%;
}
